MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/easyevent?retryWrites=true&w=majority
PORT=3001
# Comma-separated frontend URL(s) allowed by CORS
CLIENT_ORIGIN=https://future-linkservices.com,https://www.future-linkservices.com,http://localhost:5173
